.idea
.roboci
Dockerfile
composer.phar
vendor
package/codecept.phar
tests/data/app/db
tests/data/sandbox
tests/data/included/_log/*
tests/data/included/jazz/tests/_log/*
tests/data/included/jazz/pianist/tests/_log/*
tests/data/included/shire/tests/_log/*
tests/data/claypit/c3tmp/*'
tests/data/claypit/tests/_log/*
tests/data/claypit/c3tmp
