.idea
.roboci
composer.phar
composer.lock
vendor
package/codecept.phar
tests/support/_generated
tests/data/app/db
tests/data/sandbox
tests/_output/*
tests/data/included/_log/*
tests/data/included/jazz/tests/_log/*
tests/data/included/jazz/pianist/tests/_log/*
tests/data/included/shire/tests/_log/*
tests/data/included_w/_log/*
tests/data/included_w/src/foo/AcmePack/tests/_log/*
tests/data/included_w/src/foo/AcmePack/tests/_support/_generated/*
tests/data/claypit/tests/_log/*
tests/data/claypit/tests/_output/*
tests/data/claypit/tests/_support/_generated/*
tests/data/claypit/c3tmp
tests/data/included/jazz/pianist/tests/_helpers/_generated/TestGuyActions.php
tests/data/included/jazz/tests/_helpers/_generated/TestGuyActions.php
tests/data/included/shire/tests/_helpers/_generated/TestGuyActions.php
tests/data/included_w/src/bar/Sub/EwokPack/tests/_support/_generated/UnitTesterActions.php
tests/data/included_w/src/bar/ToastPack/tests/_support/_generated/UnitTesterActions.php
tests/data/included_w/src/foo/AcmePack/tests/_support/_generated/UnitTesterActions.php
tests/data/params/tests/_support/_generated/DummyTesterActions.php
.DS_Store
robo.phar
.env
