language: php
php:
  - 5.6
  - 7.0
  - 7.1
  - 7.3
env:
  global:
    - COVERAGE=
    - SUITES=cli,unit
    - SYMFONY_DEPRECATIONS_HELPER=weak
matrix:
  fast_finish: true
  include:
  # Run our coverage suite on 7.2 (so it uses pcov)
  - php: 7.2
    env: SUITES=cli,unit,coverage COVERAGE=1

branches:
  except:
    - gh-pages

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

before_install:
  # Install coverage driver; for php < 7.2 we use xdebug, for >= 7.2 we use pcov, pcov supports 7.1, but phpunit only supports pcov from 8.0 which requires php 7.2s
  - '[[ -z "$COVERAGE" ]] || [[ "$TRAVIS_PHP_VERSION" < 7.2 ]] || (phpenv config-rm xdebug.ini; pecl install -f pcov)'
  - php -i
  - export INI=~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo memory_limit = -1 >> $INI
  - composer global require hirak/prestissimo
install:
  - '[[ -z "$CI_USER_TOKEN" ]] || composer config github-oauth.github.com ${CI_USER_TOKEN};'
  - composer install
before_script:
  # starting demo server
  - 'php -S 127.0.0.1:8000 -t tests/data/app -d pcov.directory=$(pwd)/tests/data/app >/dev/null 2>&1 &'
  - 'php codecept build'
script:
  - 'php codecept run $SUITES'
