language: php

php:
  - 5.4
  - 5.5

branches:
  except:
    - gh-pages

services:
  - mongodb
  - rabbitmq

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - wget http://selenium.googlecode.com/files/selenium-server-standalone-2.35.0.jar
  - java -jar selenium-server-standalone-2.35.0.jar -port 4444 &
  - php -S localhost:8000 -t tests/data/app &
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install -n --prefer-source
  - "mysql -e 'create database codeception_test;'"
  - psql -c 'create database codeception_test;' -U postgres

script: "php codecept run"
