language: php

env:
  CODECEPTION_VERSION: '3.0.x-dev'

php:
  - 7.2
  - 7.3

before_script:
  - wget https://robo.li/robo.phar
  - php robo.phar prepare
  - composer update

script:
  - php robo.phar test cli
  - php robo.phar test "unit -g core"
  - php robo.phar test "tests/unit/Codeception/Constraints/"
  - php robo.phar test "tests/unit/Codeception/Module/AssertsTest.php"
