<html>
 <head>
	<title>Test results</title>
	<meta charset='utf-8'>
	<link href='http://fonts.googleapis.com/css?family=Varela+Round&v2' rel='stylesheet' type='text/css'>

	 <style>
		 .layout {
		 margin: 0 auto;
		 width: 960px;

		 }
		 body { font-family: arial, serif; margin: 0; padding: 0; background: #333; }
		 h1,h2,h3 { font-family: arial, serif; color: white; }
		 h1 { font-size: 2.5em; }
		 h2 { font-size: 1.3em; }
         h3 { font-size: 1em; color: #84BBDD; margin: 0.5em 0; }

		 table { border: none; margin: 0; padding: 0; }
		 .scenarioStepsTable .stepName { padding: 5px; }

		 .scenarioStepsTable td {
		 font-size: 80%;
		 border: 1px solid #ccc;
		 font-family: 'Varela Round', arial;
		 -webkit-border-radius: 5px;
		 -moz-border-radius: 5px;
		 border-radius: 5px;
		 background: rgb(255,255,255); /* Old browsers */
		 background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
		 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
		 background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
		 background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera11.10+ */
		 background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
		 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
		 background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */

		 }

		 p {
		    cursor: pointer;
		 padding: 5px;

		 -webkit-border-radius: 5px;
		 -moz-border-radius: 5px;
		 border-radius: 5px;

		 }

		 .header { font-size: large; font-weight: bold; }
		 p.scenarioSuccess {
		 background: rgb(157,213,58); /* Old browsers */
		 background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(124,188,10,1) 100%); /* FF3.6+ */
		 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,1)), color-stop(50%,rgba(161,213,79,1)), color-stop(100%,rgba(124,188,10,1))); /* Chrome,Safari4+ */
		 background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(124,188,10,1) 100%); /* Chrome10+,Safari5.1+ */
		 background: -o-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(124,188,10,1) 100%); /* Opera11.10+ */
		 background: -ms-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(124,188,10,1) 100%); /* IE10+ */
		 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
		 background: linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(124,188,10,1) 100%); /* W3C */

		 }


		 .scenario { color: black; }
		 p.scenarioFailed { color: black;
		 background: rgb(204,0,0); /* Old browsers */
		 background: -moz-linear-gradient(top, rgba(204,0,0,1) 0%, rgba(119,0,0,1) 100%); /* FF3.6+ */
		 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,0,0,1)), color-stop(100%,rgba(119,0,0,1))); /* Chrome,Safari4+ */
		 background: -webkit-linear-gradient(top, rgba(204,0,0,1) 0%,rgba(119,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
		 background: -o-linear-gradient(top, rgba(204,0,0,1) 0%,rgba(119,0,0,1) 100%); /* Opera11.10+ */
		 background: -ms-linear-gradient(top, rgba(204,0,0,1) 0%,rgba(119,0,0,1) 100%); /* IE10+ */
		 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#770000',GradientType=0 ); /* IE6-9 */
		 background: linear-gradient(top, rgba(204,0,0,1) 0%,rgba(119,0,0,1) 100%); /* W3C */
		 }


		 table.scenarioFailed tr:last-child { font-weight: bold; color: red }

		 td.scenarioSuccess { color: green }
		 td.scenarioFailed { color: red }
		 .scenarioSkipped { color: teal; }
		 .scenarioIncomplete { color: gray; }
		 .scenarioStepsTable { margin-left: 10px; display: none; color: #333; }

		 #stepContainerSummary {
		 background: white;
		 -webkit-border-radius: 5px;
		 -moz-border-radius: 5px;
		 border-radius: 5px;
		 padding: 20px;
		 }
		 ul#toolbar-filter {
			display: inline;
		 }
		 ul#toolbar-filter li {
			display: inline;
		  float: right;
			padding: 20px;
			width: 120px;
			color: black;
			background-color: #9DD53A;
		 }
		 ul#toolbar-filter li.disabled {
			background-color: gray;
		 }
		 ul#toolbar-filter li:hover {
			background-color: white;
		 }
		 ul#toolbar-filter li.disabled:hover {
			background-color: #333;
		 }
	 </style>

  <script type="text/javascript">
  function showHide(nodeId, linkObj)
  {
    var subObj = document.getElementById('stepContainer' + nodeId);

    if (linkObj.innerHTML.indexOf('+')>0) {
      linkObj.innerHTML = linkObj.innerHTML.replace('+','-');
      subObj.style.display='block';
      subObj.style.width = '100%';
    } else {
      linkObj.innerHTML = linkObj.innerHTML.replace('-','+');
      subObj.style.display='none';
    }
  }

  function showAllScenarios() {
    var toolbar = document.getElementById('toolbar-filter');
    for (var i = 0; i < toolbar.children.length; i++) {
      toolbar.children[i].className = '';
    }

    var trs = document.getElementsByTagName('tr');
    for(var z = 0; z < trs.length; z++) {
      trs[z].style.display = '';
    }
  }

  function toogleScenarios(name, linkObj) {
    if (linkObj.className == '') {
      document.getElementById('toolbar-filter').children[0].className = 'disabled';
      linkObj.className = 'disabled';
    } else {
      var toolbar = document.getElementById('toolbar-filter');
      toolbar.children[0].className = '';
      linkObj.className = '';
      for (var i = 1; i < toolbar.children.length; i++) {
        if (toolbar.children[i].classList.contains('disabled')) {
           showAll = false;
           toolbar.children[0].className = 'disabled';
        }
      }
    }

    var rows = document.getElementsByClassName('scenarioRow');
    for (var i = 0; i < rows.length; i++) {
      var row = rows[i];
      if (row.classList.contains(name)) {
        if (row.style.display == '') {
          row.style.display = 'none';
        } else {
          row.style.display = '';
        }
      }
    }
  }
  </script>
 </head>

 <body>
 <div class="layout">
 {header}
  <ul id="toolbar-filter">
    <li onClick="showAllScenarios()">Show all</li>
    <li onClick="toogleScenarios('scenarioSuccess', this)">Success ({successfulScenarios})</li>
    <li onClick="toogleScenarios('scenarioFailed', this)">Failed ({failedScenarios})</li>
    <li onClick="toogleScenarios('scenarioSkipped', this)">Skipped ({skippedScenarios})</li>
    <li onClick="toogleScenarios('scenarioIncomplete', this)">Incomplete ({incompleteScenarios})</li>
  </ul>
	 <table border="0" style="width: 100%;">
		{scenarios}
   <tr>
    <td>
	    <h2>Summary</h2>
     <div id="stepContainerSummary">
      <table border="0">
       <tr>
        <td width="250" class="scenarioSuccess">Successful scenarios:</td>
        <td class="scenarioSuccessValue"><strong>{successfulScenarios}</strong></td>
       </tr>
       <tr>
        <td class="scenarioFailed">Failed scenarios:</td>
        <td class="scenarioFailedValue"><strong>{failedScenarios}</strong></td>
       </tr>
       <tr>
        <td class="scenarioSkipped">Skipped scenarios:</td>
        <td class="scenarioSkippedValue"><strong>{skippedScenarios}</strong></td>
       </tr>
       <tr>
        <td class="scenarioIncomplete">Incomplete scenarios:</td>
        <td class="scenarioIncompleteValue"><strong>{incompleteScenarios}</strong></td>
       </tr>
      </table>
     </div>
    </td>
   </tr>
  </table>
 </div>
 </body>
</html>
